*{
    margin:0px;
    padding:0px;
}
body{
    font:bold 15px "Segoe UI","Arial",sans-serif ;
    display:block;
    background-image:url('./../images/bg.gif');
    zoom : 1;
}
body, html {
    height: 100%;
}
div, h1, h3, h4, h5, h6, header, footer, body, section, nav, article, aside {
    display: block;
}
li {
    list-style: none; /* We do not need this in our entire site */
}
#wrapper{
    display:inline;
}
header{
    position:relative;
    background-color:#4384AA;
    width:100%;
}
#main_navigation {
   margin:0 auto;
   max-width:1000px;
   padding-bottom:5px;
   padding-top:15px;
   position:relative;
}
        #main_navigation ul li{
            width:120px;
            text-align:center;
            display:inline-block;
        }
            #main_navigation ul li div{
                height:15px;
                background:url('./../images/inactive_link.png');
                background-repeat:no-repeat;
                background-position:bottom;
            }
            
            #main_navigation li.selected div{
                height:15px;
                background:url('./../images/active_link.png');
                background-repeat:no-repeat;
                background-position:bottom;
            }
#languages{
    display:inline-block;
    float:right;
    color:white;
    opacity:0.9;
}
a{
opacity:0.9;
display:block;
height:100%;
width:100%;
color:white;
text-decoration:none;
text-shadow: 0 1px 0 #000;
}
a:hover{
    opacity:0.5;
}
#main_navigation li.selected a{
   color:black;
   opacity:0.5;
}
#central_content_table {
    display: table;
    width: 100%;
    height: 90%;
}
#central_content_cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#central_navigation {
    margin: 0 auto;
    max-width: 312px;
    position: relative;
    text-align: center;
}
.row{
    width:100px;
    height:100px;
    display:inline-block;
}
.top{
    border-top:2px solid #000;
}
.right{
    border-right:2px solid #000;
}
.left{
    border-left:2px solid #000;
}
.bottom{
    border-bottom:2px solid #000;
}
            
.section_box{
    position:relative;
    background-color:#fff;
    box-shadow:rgb(0,0,0)0.5px 0.5px 4px 0.5px;
    width:200px;
    height:200px;
    border:1px solid #000;
}

.top_left{
   margin-left:-200px;
   margin-top:-50px;
}

.top_right{
    margin-left:100px;
    margin-top:-50px;
}

.down_left{
    margin-top:-5px;
    margin-left:-200px;
}

.down_right{
    margin-left:100px;
}

footer{
    position:absolute;
    bottom: 0px;
    left: 0px;
}

div#footer {
    font:10px "Segoe UI","Arial",sans-serif ;
    margin-left: 150px;
    margin-bottom:20px;
}

.capital_letter{
    font-size:13px;
}
#central_area {
    position: relative;
    height: 120px;
    margin: 0 auto;
    width: 312px;
}
#central_area > nav li {
    position: absolute;
}

#logo {
    background-image:url(./../images/center_logo.png);
    background-repeat:no-repeat;
    background-size:150px 150px;
    background-position: 54% 50%;
    width:300px;
    height:145px;
}

#top_left {
    top: -165px;
    left: -180px;
}
#top_left a.section_link_img {
    background-image:url(./../images/translation.jpg);
    background-repeat:no-repeat;
    width: 180px;
    height: 124px;
}
#top_right a.section_link_img {
    background-image:url(./../images/firebrigade.jpg);
    background-repeat:no-repeat;
    width: 180px;
    height: 124px;
}
#top_right {
    top: -165px;
    left: 312px;
}
#bottom_left a.section_link_img {
    background-image:url(./../images/finances.jpg);
    background-repeat:no-repeat;
    width: 180px;
    height: 124px;
}
#bottom_left  {
    top: 165px;
    left: -180px;
}
#bottom_right a.section_link_img {
    background-image:url(./../images/code.jpg);
    background-repeat:no-repeat;
    width: 180px;
    height: 124px;
}
#bottom_right {
    top: 165px;
    left: 312px;
}